//TODO: Eliminar esta regla
:root {
  --color-light: #FAFAFA;
  --color-dark: #0A0A0A;
  --color-lightBg: #F3F3F3;

  --color-grey: #737373;
  --color-grey-light: #E5E7EB;
  --color-grey-dark: #374151;

  --color-primary: #03A879;
  --color-primary-light: #C3FEE5;
  --color-primary-dark: #066B4F;

  --color-info-ok: #128600;
  --color-info-error: #DC2626;

  --main-font-family: "Noto Sans", sans-serif;
  --main-text: 1.6rem;
}

.navbar {
  width: 100%;
  display: flex;
  padding: 2rem 4rem;
  justify-content: center;
  align-items: center;
  gap: 4.8rem;
  align-self: stretch;

  background: var(--color-lightBg);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

  .links-acceso,
  .links-cuenta {
    display: flex;
    align-items: flex-start;
    gap: 3.6rem;
  }

  .logo-navbar {
    flex-shrink: 0;
  }
}



.btn-primary {
  font-size: var(--main-text);
  display: inline-flex;
  padding: 1rem 2rem;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  border-radius: 0.8rem;
  font-weight: 600;
  text-decoration: none;
  transition: color 0.3s;
  border: 2px solid;
  text-align: center;

  &.btn-sin-relleno {
    color: var(--color-primary-dark);
    border-color: transparent;

    &:not(.disabled) {
      &:hover,  &:focus {
        background-color: var(--color-primary-light);
      }
    }
  
    &.disabled {
      color: var(--color-grey)
    }
  }

  &.btn-relleno {
    color: var(--color-light);
    background-color: var(--color-primary-dark);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-color: var(--color-primary-dark);

    &:not(.disabled) {
      &:hover,  &:focus {
        color: var(--color-dark);
        background-color: var(--color-primary);
        box-shadow: none;
        border-color: var(--color-primary);
      }
    }

    &.disabled {
      color: var(--color-grey);
      border-color: var(--color-primary);
      background-color: var(--color-grey-light);
      box-shadow: none;
    }
  }

  &.btn-borde {
    border-color: var(--color-primary-dark);
    color: var(--color-primary-dark);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25); 

    &:not(.disabled) {
      &:hover, &:focus {
        background-color: var(--color-primary-light);
        box-shadow: none;
      }
    }
    &.disabled {
      color: var(--color-grey);
      border-color: var(--color-grey);
    }
  }
}
/*footer*/
footer {
  display: flex;
  justify-content: space-between;
  padding: 30px;
  background: var(--Primary-Darker, #066B4F);
  color: #fff;
  margin: 10px 0px 0px 0px;
}
.footer-left img {
  width: 150px;
  margin-bottom: 10px;
  
}
.footer-left, .footer-center, .footer-right {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
}

.footer-left{
 margin-right: 10px;
 margin-left: 200px; 
}
.footer-center{
margin-right:20px;
margin-left: 10px;
}
.footer-right{
  margin-right: 100px;
  margin-left: 1px;
}

.btn-footer {
  margin-bottom: 10px;

  background-color: var(--color-primary-light,#C3FEE5 );
  text-align: center;
  font-family: "Noto Sans";
  font-size: 10px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 30px */
  border: 2px solid var(--Primary-Darker, #066B4F);
  border-radius: 0.8rem;
  padding: 0.5rem 2.5rem;
 
  transition: background-color 0.3s, color 0.3s;

  &:hover, &:focus {
    background-color: var(--color-primary-light);
    color: var(--color-light);
  }
  
}
/* Fin de footer */

/* Vista cliente principal */
/* Contenedor de la pagina completa*/
.VistaClientePpal-container {
  display: flex;
  justify-content: center;
  margin: 25px 30px 25px 0px;
  gap: 2.8rem;
  flex-direction: column; 
  align-items: center;
  
}



.vista-ppal-article {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.VistaPpl-left,.VistaPpl-center,.VistaPpl-right {

    display: inline-flex;
    flex-direction: column;
    align-items: center;
    margin :20px 10px;
}
.btn-vistappl {
  display: flex;
  padding: 10px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex: 1 0 auto;
  width: 400px; 
  border-radius: 8px;
  border: 2px solid var(--Primary-Darker, #066B4F);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

  color: var(--Primary-Darker, #066B4F);
  text-align: center;
  /* Texto botones */
  font-family: "Noto Sans";
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%; /* 30px */
  &:hover, &:focus {
    background-color: var(--color-primary-light);
    color: var(--Primary-Darker, #066B4F);
  }

}
.reserva-header h2 {
 color: var(--color-dark);
  text-align: center;
  font-family: "Noto Sans";
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 54px */
}







